Repository Beaulewis1977/claude-code-context-command, changes with the owners that .github/CODEOWNERS names for each.
All owners: @claude-code-context-command-maintainers, @security-team, @platform-team, @linux-team, @macos-team, @windows-team, @core-team, @devops-team, @release-team, @docs-team, @legal-team

🔧 Enhance CI/CD pipeline with code quality and security improvements
  .eslintrc.json
  .github/codeql-config.yml
  .github/workflows/ci-cd.yml
  .github/workflows/dependency-update.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .prettierignore
  .prettierrc.json
  scripts/context-analyzer-simple.js
  scripts/context-analyzer.js
  scripts/context-cmd.js
  scripts/package.json
  tests/security-test-runner.js
  tests/test-setup.js
Owners: @claude-code-context-command-maintainers, @devops-team

🔧 Fix GitHub Actions artifact upload paths
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
Owners: @devops-team, @claude-code-context-command-maintainers

🔧 Fix artifact upload paths - remove unsupported working-directory
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(ci): Add package-lock.json and enhance .gitignore for CI/CD
  .gitignore
  scripts/package-lock.json
Owners: @claude-code-context-command-maintainers

fix(ci): Resolve critical CI/CD pipeline failures and module compatibility issues
  .claude/CLAUDE.md
  .claude/settings.local.json
  installers/install-web.sh
  installers/install.sh
  lib/package.json
  package.json
  setup-branch-protection.sh
Owners: @docs-team, @claude-code-context-command-maintainers

fix(ci): Resolve all remaining CI/CD workflow failures
  .github/SECRET-DETECTION-SOLUTION.md
  .github/secret-allowlist.txt
  .github/test-secret-detection.sh
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
  installers/install-web.sh
  lib/package.json
  lib/security.js
  scripts/context-analyzer.js
  scripts/context-cmd.js
  tests/security.test.js
Owners: @docs-team, @claude-code-context-command-maintainers, @devops-team

fix(ci): Fix Windows PowerShell compatibility for .claude directory setup
  .github/workflows/ci-cd.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(ci): Resolve final security analysis failures
  .github/workflows/security.yml
  tests/security.test.js
Owners: @devops-team, @claude-code-context-command-maintainers

fix(ci): Use echo commands for Windows PowerShell compatibility
  .github/workflows/ci-cd.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(ci): Remove obsolete security files and exclude .github from secret scanning
  .github/workflows/security.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(ci): Add --exclude-dir=.github to grep command in secret detection
  .github/workflows/security.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(ci): Exclude node_modules from unsafe function check
  .github/workflows/security.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(release): Correct syntax errors in release workflow
  .github/workflows/release.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(release): Make husky install optional in production builds
  scripts/package.json
Owners: @claude-code-context-command-maintainers

fix(release): Fix changelog parsing in GitHub release creation
  .github/workflows/release.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix(npm): Handle existing version in NPM package preparation
  .github/workflows/release.yml
Owners: @devops-team, @claude-code-context-command-maintainers

fix: Restore v1.0.0 functionality and fix GitHub display
  README.md
  claude-code-context-command
Owners: @docs-team, @claude-code-context-command-maintainers

feat: Improve README layout and fix security contact info
  .github/SECURITY.md
  README.md
Owners: @security-team, @claude-code-context-command-maintainers, @docs-team

.github/CODEOWNERS:

# Claude Code Context Command - Code Owners
# This file defines who owns different parts of the codebase
# and who should review changes to specific files/directories

# Global owners - require review for all changes
* @claude-code-context-command-maintainers

# Security-critical files - require security team review
claude-code-context-command/lib/security.js @security-team @claude-code-context-command-maintainers
claude-code-context-command/tests/security.test.js @security-team @claude-code-context-command-maintainers

# Installation scripts - require platform-specific review
claude-code-context-command/installers/ @platform-team @claude-code-context-command-maintainers
claude-code-context-command/installers/install.sh @linux-team @macos-team
claude-code-context-command/installers/install.ps1 @windows-team
claude-code-context-command/installers/install-web.sh @linux-team @macos-team

# Core analysis scripts - require core team review
claude-code-context-command/scripts/context-analyzer.js @core-team @claude-code-context-command-maintainers
claude-code-context-command/scripts/context-cmd.js @core-team @claude-code-context-command-maintainers

# GitHub Actions workflows - require DevOps team review
.github/workflows/ @devops-team @claude-code-context-command-maintainers
.github/dependabot.yml @devops-team @claude-code-context-command-maintainers

# Package configuration - require release team review  
claude-code-context-command/scripts/package.json @release-team @claude-code-context-command-maintainers
claude-code-context-command/npm/package.json @release-team @claude-code-context-command-maintainers

# Documentation - require docs team review for significant changes
*.md @docs-team
claude-code-context-command/docs/ @docs-team
claude-code-context-command/README.md @docs-team @claude-code-context-command-maintainers

# Security and governance files - require security team review
.github/SECURITY.md @security-team @claude-code-context-command-maintainers
.github/CODEOWNERS @security-team @claude-code-context-command-maintainers
LICENSE @legal-team @claude-code-context-command-maintainers

# Examples and samples - less strict review requirements
claude-code-context-command/examples/ @docs-team
